ul.content {
    list-style: none;
    margin: 0;
    padding: 10px;
}
li {
    padding: 10px;
}
img {
    display: block;
}
#element,
#element2 {
    background: blue;
    opacity: var(--scale, 1);
}
#element img,
#element2 img {
    transform: translateY(calc((1 - var(--scale, 1)) * 5rem));
}